* {
  border-radius: 50px;
  font-family: "DepartureMONO Nerd Font MONO", monospace;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 13px;
  color: #cdd6f4;
}

#waybar {
  background-color: transparent;
}

#clock {
  padding:  10px;
  background-color: #1E1C1D;
}

#pulseaudio {
    background-color: #1E1C1D;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #ffffff;
  background-color: #2d2d2d;
}

#workspaces button {
  color: #ffffff;
  background-color: #1e1c1d;
}

#window {
  background-color: #1e1c1d;
}

#battery {
  background-color: #1e1c1d;
}

#network  {
  background-color: #1e1c1d;
}

#memory  {
  background-color: #1e1c1d;
}

#tray  {
  background-color: #1e1c1d;
}

#cpu  {
  background-color: #1e1c1d;
}
