* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 14px;
  color: #CDD6F4;
  background: transparent;
}

window {
  background-color: #1e1c1d;
  border: 2px solid #1e1c1d;
  border-radius: 12px;
  padding: 10px;
}

#input {
  padding: 6px;
  border-radius: 8px;
  background-color: #252525;
  color: #CDD6F4;
}

#inner-box {
  margin-top: 10px;
}

#entry {
  padding: 8px;
  border-radius: 8px;
}

#entry:selected {
  background-color: #45475A;
  color: #A6E3A1;
}
